*{
    margin:0px;
    padding:0px;
    font-family: "Lato", serif;
}
body{
    background-color: greenyellow;
}
.hero{
    background-image: url('../photos/cow.png');
    height: 100vh;
    background-position:bottom;
    background-size:cover;
    overflow:hidden;
}
.hero h1{
    color: azure;
    font-size:100px;
    text-align:center;
    font-weight:700;
    margin-top:60px;
    font-family:cursive;
}